<div class="row">
    <div class="col-sm-12 col-md-8">

        <#list articleList as item>

        <div class="articleListItem">
            <h2 class="text-center mb-3">
                <a href="/article/${item.slug}">${item.title}</a>
                <#if item.published>
                <span class="articleDate">${item.publishedDate.toString()?datetime?string('EEEE, d MMM yyyy')}</span>
                </#if>
            </h2>
            <p>
                ${item.summary}
            </p>
        </div>
        <hr>
        </#list>
    </div>

    <div class="col-sm-12 col-md-4 pt-4 text-center">
        <p>
            Hi. I'm <strong>Paul Court</strong>, a Software Engineer, DevOps, Gamer,
            Entrepreneur and general tinkerer of all things computer related.
        </p>
        <p>
            My ramblings here are mostly about software development with PHP
            and Java, Linux and server admin related things. Occasionally you might
            find some things relating to games and woodwork.
        </p>
        <hr/>
        Founder @ <a href="https://www.flxs.co.uk"><img src="/img/flxs-logo-small.png" alt="FLXS Logo"/></a>
        <hr/>
    </div>
</div>  
